/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* GENERICHE */

body {
    font-family: Arial, Helvetica, sans-serif;
}

    /* backgroun color */

.bgBlack {
    background-color: black;
}

.bgDarkGray {
    background-color: #222222;
}

    /* flex */

.flex {
    display: flex;
}

.justifyEnd {
    justify-content: flex-end;
}

.justifyBetween {
    justify-content: space-between;
}

.justCntr {
    justify-content: center;
}

.alignCntr {
    align-items: center;
}

.dirCol {
    flex-direction: column;
}

    /* position */

.posRelative {
    position: relative;
}

.posAbsolute {
    position: absolute;
}

    /* margini */

.mrgLeft20px {
    margin-left: 20px;
}

.mrgTop10px {
    margin-top: 10px;
}

/* ELEMENTI PAGINA */

/* HEADER */

header {
    height: 60px;
}

.btnHeader {
    background-color: #4a4a4a;
    color: white;
    margin: 8px;
    padding: 0.4em;
    border-radius: 5px;
    border: none;
}

/* MAIN */

main {
    height: calc(100vh - 140px);
}

.container {
    height: calc(100vh - 140px);
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    overflow-y: auto;
}
    
.image {
    width: 245px; 
    height: 145px;
    display: block;
} 

.boxImage {
    margin: 5px;
}

.user {
    color: white;
    padding: 0.4em;
    font-size: 14px;
    background-color: rgba(0, 0, 0, 0.292);
    bottom: 0;
    left: 0;
}

/* FOOTER */

footer {
    height: 80px;
    color: white;
    padding-left: 10px;
}

.contFooter {
    width: calc(100% / 3);
}

footer i {
    color: white;
    font-size: 30px;
}

footer span {
    font-size: 12px;
    color: #d7d5d5;
}

.smallArrow {
    font-size: 14px;
}

.greenIcon {
    color: #4bc800;
}

#endMeeting {
    color: red;
    background-color: #4a4a4a;
    padding: 30px;
    font-weight: bold;
    align-items: center;
}