/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* GENERICHE */

body {
    font-family: Arial, Helvetica, sans-serif;
}

.bgBlack {
    background-color: black;
}

.bgDarkGray {
    background-color: #222222;
}

.flex {
    display: flex;
}

.justifyEnd {
    justify-content: flex-end;
}

.posRelative {
    position: relative;
}

.posAbsolute {
    position: absolute;
}

/* ELEMENTI PAGINA */

/* HEADER */

header {
    height: 60px;
}

.btnHeader {
    background-color: #4a4a4a;
    color: white;
    margin: 8px;
    padding: 0.4em;
    border-radius: 5px;
}

/* MAIN */

main {
    height: calc(100vh - 140px);
    padding: 25px 85px;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.boxImage {
    background-image: url("https://i.pinimg.com/originals/1b/e1/96/1be196341192f2f0123a2c86e7067a0b.jpg");
    background-size: contain;
    width: calc(100% / 7);
    height: calc(100% / 5);
}

.user {
    color: white;
    padding: 0.3em;
    font-size: 14px;
    background-color: rgba(0, 0, 0, 0.292);
    bottom: 0;
    left: 0;
}


/* FOOTER */

footer {
    height: 80px;
}