/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* GENERICHE */

body {
    font-family: Arial, Helvetica, sans-serif;
}

.bgBlack {
    background-color: black;
}

.bgDarkGray {
    background-color: #222222;
}

.flex {
    display: flex;
}

.justifyEnd {
    justify-content: flex-end;
}

/* ELEMENTI PAGINA */

/* HEADER */

header {
    height: 60px;
}

.btnHeader {
    background-color: #4a4a4a;
    color: white;
    margin: 8px;
    padding: 0.4em;
    border-radius: 5px;
}

/* MAIN */

main {
    height: calc(100vh - 140px);
}

/* FOOTER */

footer {
    height: 80px;
}